<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
      <div class="header">
            <h1>Back to the Future</h1>
            <img src="{{ url_for('static', filename='img.jpg') }}" alt="Website header image">
            <p class="img-label"><a target="_blank" href="https://www.amazon.com/Back-Future-Ultimate-Trilogy-Blu-ray/dp/B08DG4C2DZ">Image source</a></p>
      </div>
      <div class="main">
          <button class="section">Chapter 3</button>
          <div class="content">
            <p>The movie Back to the Future takes place, in part, in the year 1985 as well as 1955. Although the movie does not have the technology highlighted in chapter 3, such as mobile phones, it does still express some of the themes highlighted in the chapter. </p>
            <ul>
                  internet interactions - the movie shows people calling each other on the phone quite a bit via land line and martys girlfriend has to give him the number to her grandmothers house. Martys mom thinks that a girl calling a boy is bad news.
            </ul>
            <ul>
                  text messaging - The lack of instant messaging a mobile phones in this movie causes a lot of confusion in Marty McFlys life. In the first few min of the movie, MArty shows up to school late and his girlfriend stops him from going into the school because a teacher is looking for him to get him in trouble for being late again. If texting was available at this time, Marty could have avoided getting introuble at all. She could have texted him to watch out for the teacher and she could have texted him when the coast was clear, but instead they both got late slips.
            </ul>
            <ul>
                  political impact of social media and online advertising - Lorraine, Martys mom, thinks his name is Calvin Klein because that brand did not exist yet
              </ul>
              <ul>
                  censorship
              </ul>
              <ul>
                  freedom of expression
              </ul>
              <ul>
                  children and inappropriate content
              </ul>
              <ul>
                  breaking trust - multiple times in the movie Marty “invents” things that don’t exist yet.
              </ul>
              <ul>
                  internet addiction
              </ul>
          </div>
          <button class="section">Chapter 4</button>
            <div class="content">
                <ul>
                    4.3 Protecting Intellectual Property: <br>
                    <ul>In the original timeline, George McFly works under Biff Tannen at an unnamed financial firm where Biff acts as George’s supervisor. Biff bullies George into completing Biff’s company reports and customer listings for him. However, George is forced to fill out the company information forms in front of his family which allows them to see private company information. This serves as an example of an employee disclosing trade secrets.</ul>
                </ul>
                <ul>
                    4.4 Fair Use: <br>
                    <ul>One instance of fair use in the film involves Marty McFly performing with his band “The Pinheads” in an audition for his school’s dance competition. The band plays “The Power of Love” by Huey Lewis & The News. The song is copyrighted; however, the band's performance of the song is considered fair use since it is a public performance and the band does not seek to profit off of the performance. Also, Marty performs space shifting by recording his performance to a cassette tape for his private viewing.</ul>
                </ul>
                <ul>
                    4.10 Creative Commons <br>
                    <ul>Under U.S. copyright law, works of intellectual property are copyrighted the moment they are made, even if the creator does not attach a copyright symbol © to the work. When Dr. Emmet Brown draws designs of his invention, the Flux Capacitor, in 1955. The drafts of his designs would be copyrighted and outside of the commons. Therefore, the idea of the Flux Capacitor would belong to him and would require  others in the scientific community to obtain his permission to use his design.</ul>
                </ul>
            </div>
            <button class="section">Chapter 5</button>
            <div class="content">
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ultrices dolor quis quam tincidunt ultrices. Nunc gravida pharetra nulla, non bibendum felis interdum quis.</p>
            </div>
              <button class="section">Chapter 6</button>
            <div class="content">
              <p>Chapter 6, of Ethics for the Information Age by Michael J. Quinn, discusses how the government protects and invades citizens privacy. The movie Back to the Future(1985) does not mention the government besides who’s running for Mayor. Although there aren't any direct correlations to the government there are still some aspects of the Chapter that relates to Back to the Future(1985).
                In section 6.3.5 the book discusses the start and future uses of the closed-circuit television cameras. Retail shops started using surveillance cameras in the mid 70s early 80s which is when the start of the movie takes place. Doc tests his time machine in a plaza with well known Retail Shops, and it is more likely than not that those retail shops had surveillance cameras, and may have even caught a glimpse of what was taking place in the parking lot.
                Another section that relates to the movie slightly is 6.4.1. This section discusses wire tapping and how it is used by the FBI. Within the movie Marty and Doc do not discuss anything about Doc’s inventions over the phone. Doc does call Marty to tell him to grab a video camera before heading to the mall. Considering that the Libyan Terrorist later showed up to the mall it is likely that they wired into Doc’s phone.
              </p>
            </div>
      </div>
      <div class="timeline">
          <h2>Timeline</h2>
          <p>Timeline A: Original timeline unaltered by Marty’s time travel experience in 1955. <br>Timeline B: New timeline altered by Marty’s time travel experience in 1955.</p>
          <table class="timeline">
            <tr>
                <td>Date</td>
                <td>Description</td>
                <td>Timestamp</td>
            </tr>
            <tr>
                <td>Oct. 22nd 1955</td>
                <td>A<br>Plutonium: Libyan nationalists steal new plutonium isotopes from the Pacific Nuclear Research Facility</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Nov. 4th 1955</td>
                <td>A<br>Electric Amp: Marty McFly uses a wall-sized electrical guitar amp to prepare for his audition.</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Nov. 5th, 1955</td>
                <td>A<br>Brain-wave analyzer: Dr. Emmet Brown designs a mind reading machine helmet. The helmet projects the thoughts of a person attached by a suction cup cable to the wearer of the device.</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Nov. 5th, 1955</td>
                <td>A<br>Flux Capacitor: Dr. Emmet Brown invents time travel by designing the flux capacitor. The invention allows for storage of high amounts energy, in the range of gigawatts. The capacitor stores energy produced by a plutonium nuclear reactor needed for the machine to travel time.</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Oct. 25th, 1985</td>
                <td>A<br>Fake Nuclear Bomb: Dr. Emmet Brown designs a dummy atomic bomb for Libyan nationalists out of an old pinball machine. The terrorists activate the device only to find it as a dud.</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Oct. 26th, 1985 1:20AM</td>
                <td>A<br>Time Circuit: The device in the time traveling Delorean used to select which time period to travel to. The device keeps track of the present time, the current time period the machine is in, and the time period the machine previously travelled to.</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Oct. 26th, 1985 1:20AM</td>
                <td>A<br>Time Travelling Delorean MK. I: Dr. Emmet Brown successfully tests time travel technology using his invented flux capacitor powering a Delorean. His dog Einstein becomes the first time traveler.</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Nov. 12th, 1955</td>
                <td>B<br>Lightning energy conversion circuit: Dr. Brown and Marty design an electrical circuit to intake a bolt of lightning and store the energy into the delorean. The circuit provides the power necessary to restart the time circuit in the machine.</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Oct. 26th, 1985</td>
                <td>B<br>Dr. Emmet Brown showcases the Mark II version of his Delorean time travel machine. The machine has the ability to fly and convert any organic matter into flux energy to power the machine.</td>
                <td>Placeholder</td>
            </tr>
          </table>
      </div>
          <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>