<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Back to the Future</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<div class="header">
    <h1>Back to the Future</h1>
    <img src="{{ url_for('static', filename='img.jpg') }}" alt="Website header image">
    <p class="img-label"><a target="_blank"
                            href="https://www.amazon.com/Back-Future-Ultimate-Trilogy-Blu-ray/dp/B08DG4C2DZ">[Image
        source]</a></p>
</div>
<div class="main">
    <button class="section">Chapter 3</button>
    <div class="content">
        <p>The movie Back to the Future takes place, in part, in the year 1985 as well as 1955. Although the movie does
            not have the technology highlighted in chapter 3, such as mobile phones, it does still express some of the
            themes highlighted in the chapter. For example, many of the mishaps within the movie could have been avoided
            with the use of mobile phones. In the first half hour of the movie, Marty shows up late for school to find
            his girlfriend outside waiting for him. Rather than warn him in person, by using text messaging, she could
            have warned him that a teacher was looking for him to give him a late pass rather than them both getting
            caught and getting reprimanded.&nbsp;</p>
        <p>They also show many &ldquo;internet&rdquo; interactions through the use of calling via cellphones. Although
            there is not actual internet at the time the movie takes place in. Social media also does not exist within
            the movie, but even without it, by going back in time and seeing people in real life, Marty was able to help
            the political campaign of Goldie Wilson. Since he is mayor in 1985, while in 1955 Marty gives Goldie the
            idea to be mayor and helps his campaign by word of mouth.&nbsp;</p>
        <p>Moving on, the Textbook references three forms of direct censorship. These being; government monopolization,
            pre-publication review, and licensing and registration. The licensing and registration form of direct
            censorship is shown in Back to the Future when DOC is setting up the wires on the town clock to run the
            delorean. A police officer comes up to DOC and asks what is under the tarp covering the time machine, to
            which doc tells him that it's top secret weather equipment. The cop asks if he has the proper license for
            the weather machine.&nbsp;</p>
        <p>Later in the movie, Doc is subject to self-censorship, in which he refused to tell marty about the events of
            the future and refuses to say anything that will effect the future. Self-censorship is a person or group
            preventing themselves from publishing information, but doc prevents himself from saying information that
            could be detrimental to the future or to himself.&nbsp;</p>
        <p>Furthermore, multiple times in the movie Marty &ldquo;invents&rdquo; things that don&rsquo;t exist yet. By
            doing this, he is practicing identity theft as highlighted in the chapter. He is taking the names and
            identities of others as well as their ideas. For much of the movie, his Mother calls him Calvin Klein, due
            to it being written in Martys underpants. He does not directly practice identity theft, since he did not
            agree that this was his name, but he did accidentally make Lorainne think that that was his name. He also
            takes the idea for the song Johnny Be Good and &ldquo;invents&rdquo; it years before its actual release. Not
            only that, he also invents the skateboard.</p>
    </div>
    <button class="section">Chapter 4</button>
    <div class="content">
        <ul>
            <li>4.4 Fair Use:</li>
            <ul>
                <li>One instance of fair use in the film involves Marty McFly performing with his band &ldquo;The
                    Pinheads&rdquo; in an audition for his school&rsquo;s dance competition. The band plays &ldquo;The
                    Power of Love&rdquo; by <em>Huey Lewis &amp; The News</em>. The song is copyrighted; however, the
                    band's performance of the song is considered fair use since it is a public performance and the band
                    does not seek to profit off of the performance. Also, Marty performs space shifting by recording his
                    performance to a cassette tape for his private viewing.
                </li>
            </ul>
            <li>4.7 Protection for Software</li>
            <ul>
                <li>The US Supreme Court in 1981 forced the Patent and Trademark Office to begin considering software
                    patents. In the movie, Doc Brown showcases his invention called the Time Circuit which is a computer
                    that displays and keeps track of different timelines. Furthermore, the machine automatically updates
                    the times and activates the Flux Capacitor to begin traveling through time to a desired time period.
                    Since Doc Brown&rsquo;s Time Circuit automatically keeps track of times in different time periods,
                    the invention of the Time circuit in 1985 allows for Doc. Brown to apply for a software patent to
                    protect the Time Circuit&rsquo;s computerized elements and application as his property.&nbsp;
                </li>
            </ul>
            <li>4.10 Creative Commons</li>
            <ul>
                <li>Under U.S. copyright law, works of intellectual property are copyrighted the moment they are made,
                    even if the creator does not attach a copyright symbol &copy; to the work. When Dr. Emmet Brown
                    draws designs of the Flux Capacitor, in 1955. The drafts of his designs would be copyrighted and
                    outside of the commons. Therefore, the idea of the Flux Capacitor would belong to him and would
                    require others in the scientific community to obtain his permission to use his design.
                </li>
                <li>The basic structure of the modern Patent Law was laid out with the Patent Act of 1952. In this
                    amendment, an inventor had to describe not only his invention but also the basis for its creation.
                    Furthermore, an invention needed to be new and useful, as well as "non- obvious" to be granted a
                    patent. Therefore,&nbsp; the invention of the Flux Capacitor could be patented by Doc. Brown if he
                    presented his invention to the Patent Office in 1955.
                </li>
            </ul>
        </ul>
    </div>
    <button class="section">Chapter 5</button>
    <div class="content">
        <ul>
            <li>5.3 Information Disclosures:</li>
            <ul>
                <li>In this section of the chapter, the concept of computer databases storing personal information of
                    consumers using products with these computers in them. Databases serve the purpose of disclosing
                    information about a consumer&rsquo;s activity with the product to the product&rsquo;s company. An
                    example of such a computerized database is a modern car&rsquo;s black box. A black box records
                    information about the speed of the car, the amount of pressure being put on the brake pedal, and
                    whether the seat belts are connected. The Delorean time circuit records what time periods the
                    machine has recently visited similar to a black box. Therefore, the time circuit serves a similar
                    purpose with company computer databases and can be used by Dr. Brown to learn about how Marty used
                    the time machine.&nbsp;
                </li>
            </ul>
            <li>5.5 Examples of consumer or political backlash</li>
            <ul>
                <li>A Libyan terrorist group in the movie contracts Dr. Brown to build them a nuclear bomb out of
                    plutonium and supplies him with plutonium isotopes. However, Dr. Brown takes the plutonium for
                    himself and provides the terrorists with a decoy bomb. Once the group discovers the decoy, the
                    Libyans demonstrate consumer backlash against their received technology by trying to kill the
                    creator, Dr. Brown. The terrorists ambush him during his first time travel test and threaten his
                    life
                </li>
            </ul>
        </ul>
    </div>
    <button class="section">Chapter 6</button>
    <div class="content">
        <p>Chapter 6, of Ethics for the Information Age by Michael J. Quinn, discusses how the government protects and
            invades citizens privacy. The movie Back to the Future(1985) does not mention the government besides who’s
            running for Mayor. Although there aren't any direct correlations to the government there are still some
            aspects of the Chapter that relates to Back to the Future(1985).
        </p>
        <p>
            In section 6.3.5 the book discusses the start and future uses of the closed-circuit television cameras.
            Retail shops started using surveillance cameras in the mid 70s early 80s which is when the start of the
            movie takes place. Doc tests his time machine in a plaza with well known Retail Shops, and it is more likely
            than not that those retail shops had surveillance cameras, and may have even caught a glimpse of what was
            taking place in the parking lot.
        </p>
        <p>
            Another section that relates to the movie slightly is 6.4.1. This section discusses wire tapping and how it
            is used by the FBI. Within the movie Marty and Doc do not discuss anything about Doc’s inventions over the
            phone. Doc does call Marty to tell him to grab a video camera before heading to the mall. Considering that
            the Libyan Terrorist later showed up to the mall it is likely that they wired into Doc’s phone.
        </p>
    </div>
    <button class="section">Chapter 7</button>
    <div class="content">
        <p>
            Chapter 7, of Ethics for the Information Age by Michael J. Quinn, discusses computer and network security,
            but more specifically its relation to ethics. The movie Back to the Future(1985) does not contain any
            information on network or computer security. Therefore Chapter 7 does not relate to Back to the
            Future(1985).
        </p>
        <p>
            Chapter 7 section 7.2 discusses hacking. Although the movie was not made during the time of computer
            hacking, in Back to The future II Biff “hacks” the Deloreon to time travel for his benefit. Hacks is in
            quotations because it is carjacking but since there is a piece of technology within the car that Biff needed
            access to to steal the car he did in fact hack the time machine.
        </p>
    </div>
    <button class="section">Chapter 8</button>
    <div class="content">
        <p>
            8.2 Data Entry or Data Retrieval Errors
        </p>
        <p>
            Doc set November 5, 1955 as the time travel date for the DeLorean time machine as a way to explain to Marty
            how the time machine works. However, due to the Libyan terrorists, Marty escapes through the time machine
            and inadvertently ends up back in 1955 by traveling at 88 mph. While this does not demonstrate any errors in
            the software, it is indicative of how easy it is for human error to result in intended consequences by the
            software. With the power and influence of technology growing every year, it is imperative to guard against
            erroneous or unintended human input from causing software to cause major catastrophic impact
        </p>
    </div>

    <button class="section">Chapter 10</button>
    <div class="content">
        <p> Chapter 10 analyzes the impact of technology on the workforce, and how new technologies can displace
            workers. In the movie, we see a future where much of the work has been automated. One example is a dog
            walking drone. This is meant to be humoras, but it shows a decent example of how many common jobs could be
            automated in the future. Marty’s culture shock when he travels to the future is also a good example of
            culture shock. Many older people, and people who are not as technically literate have similar reactions when
            faced with new technologies that Marty did when he traveled to the future. The movie can serve as an
            important reminder of how technology can affect people who are outside of the technical space.</p>
    </div>
</div>
<div class="main">
    <button class="section">Technologies</button>
    <div class="content">
        <p><span style="text-decoration: underline;">Guitar amp</span></p>
        <p>The guitar amp is a current technology still used today</p>
        <p>The portrayal of this technology in the movie is very realistic. Amps can blow if &nbsp; they are
            used aggressively just like the amp in the beginning of the movie.&nbsp;</p>
        <p><span style="text-decoration: underline;">Land lines 1900-2006</span></p>
        <p>Obsolete technology outshined by the mobile phone</p>
        <p>The portrayal of landlines is very realistic</p>
        <p><span style="text-decoration: underline;">The Delorean DMC-12 (time machine)</span></p>
        <ul>
            <li>The DeLorean DMC-12 was a current car model in the early 1980s, but the time machine concept was
                fictional obviously
            </li>
            <li>The time travel theory in this movie is based on the "grandfather paradox" and the idea that
                changing the past creates an alternate timeline. When Marty McFly travels back in time and
                interferes with his parents' meeting, he creates a new timeline that threatens his own existence
            </li>
            <li>The core component of the time machine is the flux capacitor, a Y-shaped device invented by Doc
                Brown. It is responsible for making time travel possible. The movie does not explain the exact
                workings of the flux capacitor, but it is the critical element that allows the DeLorean to
                travel through time.
            </li>
            <li>The time machine requires a significant amount of energy to activate the flux capacitor.
                Initially, it is powered by a plutonium-fueled nuclear reactor that generates 1.21 gigawatts of
                electricity. Later in the trilogy, a "Mr. Fusion" home energy reactor is used to power the time
                machine, converting household waste into the necessary energy.
            </li>
            <li>The time machine has a set of time circuits that allow the user to input a desired date for time
                travel. The user can set the destination time, as well as see the present time and the last time
                departed.
            </li>
            <li>&nbsp;The DeLorean must reach a speed of 88 miles per hour to activate the time travel process.
                When the car hits this speed, the flux capacitor activates, and the vehicle travels through time
                to the date set on the time circuits.
            </li>
            <li>As the car travels through time, it leaves behind a trail of fire along its path (usually from
                the wheels), and the vehicle itself undergoes a brief period of intense cold and frost after
                arriving at its destination.
            </li>
            <li>When a character travels back in time and changes past events, it creates an alternate timeline
                diverging from the original one, and so changing the past changes the future. This rule is the
                basis for the "grandfather paradox" and sets up the central conflict of the trilogy, as Marty
                accidentally interferes with his parents' meeting, threatening his own existence.
            </li>
            <li>Changing past events take time to solidify for the effect to &ldquo;ripple&rdquo; through time.
                For example, in the photo Marty carries with him, his siblings gradually fade away as the
                timeline changes. Furthermore, it is dangerous to know too much in the future
            </li>
            <li>This is a different approach to time travel compared to movies like "12 Monkeys" (1995) and
                "Predestination" (2014), which have a single, fixed timeline, and the past cannot be changed.
                Instead, time travel creates causal loops in which the cause and effect form a closed loop. An
                event in the past is influenced by information or actions from the future, which in turn is the
                result of the past event. This eliminates paradoxes, as the actions of time travelers were
                always a part of history, and the actions the time traveler takes are already predetermined
            </li>
        </ul>
        <p><span style="text-decoration: underline;">JVC GR-C1 video camera</span></p>
        <ul>
            <li>This camcorder was cutting-edge for its time, and it was a real and current technology when the
                movie was released in 1985
            </li>
            <li>&nbsp;was among the first to integrate a camera and recorder into one unit, with newer models
                evolving from it
            </li>
            <li>Older camcorders were separate units, while newer models have become more compact, digital, and
                high-definition. Camcorders have appeared in many movies from the 1980s to the early 2000s,
                reflecting the era's technological advancements
            </li>
            <li>The portrayal is realistic.&nbsp; It was popularized after its use in this movie and received
                positive reviews for its compact design and ease of use
            </li>
        </ul>
        <p><span style="text-decoration: underline;">Dog feeder</span></p>
        <p>Dog feeders are devices that are still used today for those who do not want to fill the bowl by hand
            every time it is time for a dog to eat.&nbsp;</p>
        <p>The device shown in the movie is much more complicated and large than a regular current time
            automatic dog feeder.&nbsp;</p>
        <p>At the time the movie was created this device did exist, but in a less complicated and more compact
            form.&nbsp;</p>
        <p>A device created in 1939 was used as an automatic pet feeder, but it only opened on a timer rather
            than actually pouring the food out for the pet.&nbsp;</p>
        <p>Now there are automatic pet feeders that work on a timer and dispense food when it is time for the
            pet to eat.</p>
    </div>

    <button class="section">Movie maker intent</button>
    <div class="content">
        <p>Robert Zemeckis and Bob Gale wanted to make a movie after their last movie didn&rsquo;t do as well as they
            expected. They are long time friends and collaborators who created Back to the Future together. The idea to
            create a movie about time travel was brought up by Gale then elaborated on by Zemeckis. When visiting his
            family, Gale came across his father&rsquo;s high school yearbook when he thought about whether his father in
            high school would be his friend if they were both in high school at the same time.[1] When Gale arrived back
            in Los Angeles he shared his
            thoughts with Zemeckis who thought about how inconsistent his mothers memory is and how amazing it would be
            to just go back in time to see his mothers life.[2] After knowing that they wanted to focus on the idea of
            time travel they decided to experiment with what would happen if someone did go back and change the past,
            which is the plot of their first movie.&nbsp;</p>
        <p>Although their overall intent was to make a movie that would do better than their first collaboration, after
            some thinking they knew they wanted to create a movie that explored the &ldquo;what if&rsquo;s?&rdquo; of
            time travel.</p>
        <a
                href="https://www.goldenglobes.com/exclusives/oral-history-back-future-robert-zemeckis-31870"
                target="_blank" rel="noopener" style="font-size: 18px">[1]
        </a>
        <br><br>
        <a
                href="https://www.goldenglobes.com/exclusives/oral-history-back-future-robert-zemeckis-31870"
                target="_blank" rel="noopener" style="font-size: 18px">[2]
        </a>
        <p> </p>
    </div>

    <button class="section">Societal Conclusions of Time Travel</button>
    <div class="content">
        <p>
            Back to The Future showcases potential effects time traveling into the past has on a person's present and
            existence. However, philosophical consensus on the possibility of time travel into the past deems it
            impossible [2]. The argument against the existence of time travel lies in the fact that changing the past
            introduces contradictions against the natural order of time [3]. For example, a time traveler going into the
            past and killing their grandfather would prevent the traveler’s existence; furthermore, the murder would
            prevent the time traveler from traveling to the past to commit the murder in the first place [3]. This
            contradiction is known as the Grandfather Paradox [3]. Nothing physically bars the traveler from entering
            the contradiction; however, the act of beginning the contradiction would be impossible due to it overwriting
            events that led up to its climax. A philosopher named David Lewis states, “. If a time traveler visiting the
            past both could and couldn’t do something that would change it, then there cannot possibly be such a time
            traveler… this contradiction proves that time travel is impossible” [2]. The grandfather paradox is shown in
            the movie as Marty’s hand disappearing after meeting a younger version of his mother and causing her to fall
            in love with him instead of his father.
        </p>
        <p>
            The root of the contradictions lie in societal nature. One type of solution for time travel involves an idea
            of a “time guardian” [4]. A “time guardian” involves an entity or supernatural force in the time dimension
            that would prevent time travelers from beginning a contradiction [4]. For example, a “time guardian” for the
            grandfather paradox would be the time traveler’s gun jamming and preventing him from killing the grandfather
            [4]. This notion of “time guardians” demonstrates limitations on human nature and society must be in place
            for time travel to exist without destroying the present. An example of a “time guardian” in the movie was
            the past version of Marty’s father finding the courage to ask out Marty’s mother to the dance which ensures
            that they fall in love and give birth to Marty in the present.
        </p>
        <p>
            Even if time travel were to exist, time travel raises ethical concerns as to whether certain time periods
            should be restricted for time travelers. For example, time travel would theoretically allow one to
            experience Nazi extermination camps such as Auschwitz-Birkenau [1]. Should a trip like prohibited out of
            respect for the victims and prevent the victims from being treated as a spectacle [1]? Or should it rather
            be encouraged out of remembrance for the victims and proper education of the history [1]? Also, information
            gathered from time travel activity has the potential to be exploited [5]. For example, present information
            on the outcomes of past sport games could be exploited by time traveling before the sports events and
            placing bets on the teams known to win [5]. Therefore, society should be aware of exploiting the desires of
            those in the past to advance the financial and ideological interests of a few in the future or present [5].
        </p>
        <h3>References</h3>
        <ol>
            <li>Holtorf, Cornelius. "On the possibility of time travel." <em>Lund archaeological review</em> 15 (2010):
                31-41. <a href="https://www.diva-portal.org/smash/get/diva2:303827/FULLTEXT01.pdf" target="_blank">https://www.diva-portal.org/smash/get/diva2:303827/FULLTEXT01.pdf</a>
            </li>
            <li>Lewis, David. "The paradoxes of time travel." <em>Science Fiction and Philosophy: From Time Travel to
                Superintelligence</em> (2016): 357-369. <a href="https://philarchive.org/archive/LEWTPO-8"
                                                           target="_blank">https://philarchive.org/archive/LEWTPO-8</a>
            </li>
            <li>Loewenstein, Yael. “Against the Standard Solution to the Grandfather Paradox.” <em>Synthese</em>
                (Dordrecht), vol. 200, no. 2, 2022. <a href="https://doi.org/10.1007/s11229-022-03543-y"
                                                       target="_blank">https://doi.org/10.1007/s11229-022-03543-y</a>
            </li>
            <li>Nahin, Paul J. <em>Time machines: Time travel in physics, metaphysics, and science fiction</em>.
                Springer Science & Business Media, 2001. <a
                        href="https://books.google.com/books?id=39KQY1FnSfkC&lpg=PR7&ots=EBiVfz5OQv&dq=time%20travel%20theories&lr&pg=PR7#v=onepage&q=time%20travel%20theories&f=false"
                        target="_blank">https://books.google.com/books?id=39KQY1FnSfkC&amp;lpg=PR7&amp;ots=EBiVfz5OQv&amp;dq=time%20travel%20theories&amp;lr&amp;pg=PR7#v=onepage&amp;q=time%20travel%20theories&amp;f=false</a>
            </li>
            <li>Smith, Nicholas J. J. “I’D DO ANYTHING TO CHANGE THE PAST (BUT I CANT DO ‘THAT’).” <em>American
                Philosophical Quarterly</em>, vol. 54, no. 2, 2017, pp. 153–68. <a
                    href="http://www.jstor.org/stable/44982133" target="_blank">http://www.jstor.org/stable/44982133</a>
            </li>
        </ol>

    </div>
</div>


<h2>Meeting minutes</h2>

<div class="button-row">
    <button class="button" onclick="showPopup(1)">4/11</button>
    <button class="button" onclick="showPopup(2)">4/19</button>
    <button class="button" onclick="showPopup(3)">4/21</button>
    <button class="button" onclick="showPopup(4)">4/25</button>
    <button class="button" onclick="showPopup(5)">5/1</button>
</div>

<div class="popup" id="popup1">
    <h2>4/11</h2>
    <ul>
        <li>Assigned chapters 3-6</li>
        <ul>
            <li>Emma took 3 and 5</li>
            <li>Kyle took 4 and 5</li>
            <li>Kayla took 6</li>
        </ul>
        <li>We divided the other work as well</li>
        <ul>
            <li>Skyler started the website</li>
            <li>Ansel was sick and unable to make the meeting</li>
        </ul>
        <li>We decided to assign future chapters in a later meeting where everyone could attend</li>
    </ul>
    <button class="button" onclick="hidePopup(1)">Close</button>
</div>

<div class="popup" id="popup2">
    <h2>4/19</h2>
    <ul>
        <li>Assignment is unclear
            <ul>
                <li>Exact details have not been given about how the assignment should be graded</li>
                <li>Former deadline was vague. Expected some form of feedback.</li>
            </ul>
        </li>
        <li>Ansel will do chapter 8, Skyler will do chapter 10, Kayla will do chapter 7</li>
        <li>Emma is starting a list of website requirements</li>
        <li>Slide show presentation due the 28th
            <ul>
                <li>We will meet on 4/21 to work on the slide show together</li>
                <li>Main points need to be broken up into slides. Everyone should have a slide.</li>
            </ul>
        </li>
        <li>Meeting minutes need to go into website</li>
    </ul>
    <button class="button" onclick="hidePopup(2)">Close</button>
</div>

<div class="popup" id="popup3">
    <h2>4/21</h2>
    <ul>
        <li>Began working on powerpoint presentation</li>
        <li>Everyone takes one slide</li>
        <li>Do we need an image on every slide? <strong>Yes</strong></li>
        <li>The group expressed criticisms over the look of the slides.
            <ul>
                <li>Many bystanders to the meeting believe that the template is ugly</li>
            </ul>
        </li>
        <li>What system of ethics do we want to use?
            <ul>
                <li>Went with social contract theory as we can relate it to doc and marty's relationship, as well as
                    other aspects of the movie
                </li>
            </ul>
        </li>
    </ul>
    <button class="button" onclick="hidePopup(3)">Close</button>
</div>

<div class="popup" id="popup4">
    <h2>4/25</h2>
    <ul>
        <li>Morgan is better than it was a few years ago</li>
        <ul>
            <li>Still pretty bad</li>
            <li>Undercooked chicken</li>
        </ul>
        <li>We need 3 questions each about each slideshow</li>
        <ul>
            <li>Are these questions supposed to take up an hour of class?</li>
            <li>Will websites be displayed in class?</li>
        </ul>
        <li>What are we doing on May 3rd?</li>
        <ul>
            <li>May 3rd is only worth 2 participation points</li>
            <li>We are watching Ansel present!!!! -Kayla</li>
        </ul>
        <li>Slide show needs to be finished and submitted by end of today</li>
        <ul>
            <li>Take feedback, make revisions if necessary&nbsp;</li>
        </ul>
    </ul>
    <button class="button" onclick="hidePopup(4)">Close</button>
</div>

<div class="popup" id="popup5">
    <h2>5/1</h2>
    <ul>
        <li>Wrote conclusion slide</li>
        <li>Decided who will say what slides</li>
        <li>Wrote more speaker notes</li>
        <li>Figured out timing of presentation</li>
        <li>Dry run of presentation</li>
    </ul>
    <button class="button" onclick="hidePopup(5)">Close</button>
</div>

<div class="timeline">
    <h2>Timeline</h2>
    <p>Timeline A: Original timeline unaltered by Marty’s time travel experience in 1955. <br>Timeline B: New timeline
        altered by Marty’s time travel experience in 1955.</p>
    <table class="timeline">
        <tr>
            <td>Date</td>
            <td>Description</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Nov. 5th, 1955</td>
            <td>A<br>Brain-wave analyzer: Dr. Emmet Brown designs a mind reading machine helmet. The helmet projects the
                thoughts of a person attached by a suction cup cable to the wearer of the device.
            </td>
            <td>00:48:20</td>
        </tr>
        <tr>
            <td>Nov. 5th, 1955</td>
            <td>A<br>Flux Capacitor: Dr. Emmet Brown invents time travel by designing the flux capacitor. The invention
                allows for storage of high amounts energy, in the range of gigawatts. The capacitor stores energy
                produced by a plutonium nuclear reactor needed for the machine to travel time.
            </td>
            <td>00:51:05</td>
        </tr>
        <tr>
            <td>Oct. 22nd 1985</td>
            <td>A<br>Plutonium: Libyan nationalists steal new plutonium isotopes from the Pacific Nuclear Research
                Facility
            </td>
            <td>00:01:26</td>
        </tr>
        <tr>
            <td>Oct. 22nd 1985</td>
            <td>A<br>TV: Marty watches the news about the Libyan nationalists on a TV in Doc Brown’s lab.</td>
            <td>00:01:26</td>
        </tr>
        <tr>
            <td>Oct. 25th 1985</td>
            <td>A<br>Electric Amp: Marty McFly uses a wall-sized electrical guitar amp built by Dr. Brown to prepare for
                his audition.
            </td>
            <td>00:03:00</td>
        </tr>
        <tr>
            <td>Oct. 25th, 1985</td>
            <td>A<br>Fake Nuclear Bomb: Dr. Emmet Brown designs a dummy atomic bomb for Libyan nationalists out of an
                old pinball machine. The terrorists activate the device only to find it as a dud.
            </td>
            <td>00:26:18</td>
        </tr>
        <tr>
            <td>Oct. 26th, 1985</td>
            <td>A<br>Camcorder: Marty uses a camcorder to record Doc. Brown’s experiments of the time traveling
                Delorean.
            </td>
            <td>00:23:20</td>
        </tr>
        <tr>
            <td>Oct. 26th, 1985 1:20AM</td>
            <td>A<br>Time Circuit: The device in the time traveling Delorean used to select which time period to travel
                to. The device keeps track of the present time, the current time period the machine is in, and the time
                period the machine previously travelled to.
            </td>
            <td>00:24:17</td>
        </tr>
        <tr>
            <td>Oct. 26th, 1985 1:20AM</td>
            <td>A<br>Time Travelling Delorean MK. I: Dr. Emmet Brown successfully tests time travel technology using his
                invented flux capacitor powering a Delorean. His dog Einstein becomes the first time traveler.
            </td>
            <td>00:23:36</td>
        </tr>
        <tr>
            <td>Nov. 5th, 1955</td>
            <td>B<br>Walkman: Marty uses a walkman to play Van Halen music and convince his father that he is an alien.
            </td>
            <td>01:01:51</td>
        </tr>
        <tr>
            <td>Nov. 12th, 1955</td>
            <td>B<br>Lightning energy conversion circuit: Dr. Brown and Marty design an electrical circuit to intake a
                bolt of lightning and store the energy into the delorean. The circuit provides the power necessary to
                restart the time circuit in the machine.
            </td>
            <td>01:34:39</td>
        </tr>
        <tr>
            <td>Oct. 26th, 1985</td>
            <td>B<br>Dr. Emmet Brown showcases the Mark II version of his Delorean time travel machine. The machine has
                the ability to fly and convert any organic matter into flux energy to power the machine.
            </td>
            <td>01:50:30</td>
        </tr>
    </table>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
