<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Back to the Future</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
      <div class="header">
            <h1>Back to the Future</h1>
            <img src="{{ url_for('static', filename='img.jpg') }}" alt="Website header image">
            <p class="img-label"><a target="_blank" href="https://www.amazon.com/Back-Future-Ultimate-Trilogy-Blu-ray/dp/B08DG4C2DZ">Image source</a></p>
      </div>
      <div class="main">
          <button class="section">Chapter 3</button>
          <div class="content">
            <ul>
                    3.3 Internet Interactions: <br>
                    <ul>The movie shows many instances of people calling each other on the phone via land line, but the primary form of communication in the movie is in person. The textbook highlights different methods in which people use the internet to interact with others. This includes shopping, socialization, and entering virtual worlds, but the people in Back to the Future do all of these things without the use of technology. They communicate in person, shop in person, and Marty does not require a virtual world to enter into, he has real life adventures in the delorean. </ul>
                </ul>
                <ul>
                    3.4 Text Messaging: <br>
                    <ul>The lack of instant messaging a mobile phones in this movie causes a lot of confusion in Marty McFly’s life. In the first few minutes of the movie, Marty shows up to school late and his girlfriend stops him from going into the school because a teacher is looking for him to get him in trouble for being late again. If texting was available at this time, Marty could have avoided getting in trouble at all. She could have texted him to watch out for the teacher and she could have texted him when the coast was clear, but instead they both got late slips. None of the Textbook ideas following text messaging apply here due to text messaging not existing in the movie. </ul>
                </ul>
                <ul>
                    3.5 Political Impact of Social Media and Online Advertising: <br>
                    <ul>Social media does not exist within the movie. Even without it, by going back in time and seeing people in real life, Marty was able to help the political campaign of Goldie Wilson. Since he is mayor in 1985, while in 1955 Marty gives Goldie the idea to be mayor and helps his campaign by word of mouth. </ul>
                </ul>
                 <ul>
                    3.6 Censorship: <br>
                    <ul>The Textbook references three forms of direct censorship. These being; government monopolization, pre-publication review, and licensing and registration. The licensing and registration form of direct censorship is shown in Back to the Future when DOC is setting up the wires on the town clock to run the delorean. A police officer comes up to DOC and asks what is under the tarp covering the time machine, to which doc tells him that it's top secret weather equipment. The cop asks if he has the proper license for the weather machine. </ul>
                </ul>
                <ul>Later in the movie, Doc is subject to self-censorship, in which he refused to tell marty about the events of the future and refuses to say anything that will effect the future. Self-censorship is a person or group preventing themselves from publishing information, but doc prevents himself from saying information that could be detrimental to the future or to himself. </ul>
                </ul>
                 <ul>
                    3.9.1 Breaking Trust <br>
                    <ul>Multiple times in the movie Marty “invents” things that don’t exist yet. By doing this, he is practicing identity theft as highlighted in the chapter. He is taking the names and identities of others as well as their ideas. For much of the movie, his Mother calls him Calvin Klein, due to it being written in Martys underpants. He does not directly practice identity theft, since he did not agree that this was his name, but he did accidentally make Lorainne think that that was his name. </ul>
                </ul>
          </div>
          <button class="section">Chapter 4</button>
            <div class="content">
                <ul>
                    4.3 Protecting Intellectual Property: <br>
                    <ul>In the original timeline, George McFly works under Biff Tannen at an unnamed financial firm where Biff acts as George’s supervisor. Biff bullies George into completing Biff’s company reports and customer listings for him. However, George is forced to fill out the company information forms in front of his family which allows them to see private company information. This serves as an example of an employee disclosing trade secrets.</ul>
                </ul>
                <ul>
                    4.4 Fair Use: <br>
                    <ul>One instance of fair use in the film involves Marty McFly performing with his band “The Pinheads” in an audition for his school’s dance competition. The band plays “The Power of Love” by Huey Lewis & The News. The song is copyrighted; however, the band's performance of the song is considered fair use since it is a public performance and the band does not seek to profit off of the performance. Also, Marty performs space shifting by recording his performance to a cassette tape for his private viewing.</ul>
                </ul>
                <ul>
                    4.10 Creative Commons <br>
                    <ul>Under U.S. copyright law, works of intellectual property are copyrighted the moment they are made, even if the creator does not attach a copyright symbol © to the work. When Dr. Emmet Brown draws designs of his invention, the Flux Capacitor, in 1955. The drafts of his designs would be copyrighted and outside of the commons. Therefore, the idea of the Flux Capacitor would belong to him and would require  others in the scientific community to obtain his permission to use his design.</ul>
                </ul>
            </div>
            <button class="section">Chapter 5</button>
            <div class="content">
              <ul>
                    5.3 Information Disclosures: <br>
                    <ul>In this section of the chapter, the concept of computer databases storing personal information of consumers using products with these computers in them. Databases serve the purpose of disclosing information about a consumer’s activity with the product to the product’s company. An example of such a computerized database is a modern car’s black box. A black box records information about the speed of the car, the amount of pressure being put on the brake pedal, and whether the seat belts are connected. The Delorean time circuit records what time periods the machine has recently visited similar to a black box. Therefore, the time circuit serves a similar purpose with company computer databases and can be used by Dr. Brown to learn about how Marty used the time machine. </ul>
                </ul>
                <ul>
                    5.5 Examples of consumer or political backlash: <br>
                    <ul>A Libyan terrorist group in the movie contracts Dr. Brown to build them a nuclear bomb out of plutonium and supplies him with plutonium isotopes. However, Dr. Brown takes the plutonium for himself and provides the terrorists with a decoy bomb. Once the group discovers the decoy, the Libyans demonstrate consumer backlash against their received technology by trying to kill the creator, Dr. Brown. The terrorists ambush him during his first time travel test and threaten his life. </ul>
                </ul>
                
            </div>
              <button class="section">Chapter 6</button>
            <div class="content">
              <p>Chapter 6, of Ethics for the Information Age by Michael J. Quinn, discusses how the government protects and invades citizens privacy. The movie Back to the Future(1985) does not mention the government besides who’s running for Mayor. Although there aren't any direct correlations to the government there are still some aspects of the Chapter that relates to Back to the Future(1985).
                In section 6.3.5 the book discusses the start and future uses of the closed-circuit television cameras. Retail shops started using surveillance cameras in the mid 70s early 80s which is when the start of the movie takes place. Doc tests his time machine in a plaza with well known Retail Shops, and it is more likely than not that those retail shops had surveillance cameras, and may have even caught a glimpse of what was taking place in the parking lot.
                Another section that relates to the movie slightly is 6.4.1. This section discusses wire tapping and how it is used by the FBI. Within the movie Marty and Doc do not discuss anything about Doc’s inventions over the phone. Doc does call Marty to tell him to grab a video camera before heading to the mall. Considering that the Libyan Terrorist later showed up to the mall it is likely that they wired into Doc’s phone.
              </p>
            </div>
      </div>

      <h2>Meeting minutes</h2>

      <div class="button-row">
		<button class="button" onclick="showPopup(1)">4/11</button>
		<button class="button" onclick="showPopup(2)">4/19</button>
		<button class="button" onclick="showPopup(3)">4/21</button>
		<button class="button" onclick="showPopup(4)">Button 4</button>
		<button class="button" onclick="showPopup(5)">Button 5</button>
	</div>

      	<div class="popup" id="popup1">
		    <h2>4/11</h2>
		    <ul>
                <li>Assigned chapters 3-6</li>
            <ul>
                <li>Emma took 3 and 5</li>
                <li>Kyle took 4 and 5</li>
                <li>Kayla took 6</li>
            </ul>
                <li>We divided the other work as well</li>
                <ul>
                    <li>Skyler started the website</li>
                    <li>Ansel was sick and unable to make the meeting</li>
                </ul>
                <li>We decided to assign future chapters in a later meeting where everyone could attend</li>
            </ul>
		<button class="button" onclick="hidePopup(1)">Close</button>
	</div>

	<div class="popup" id="popup2">
		<h2>Popup 2</h2>
		<p>This is the content of Popup 2</p>
		<button class="button" onclick="hidePopup(2)">Close</button>
	</div>

	<div class="popup" id="popup3">
		<h2>Popup 3</h2>
		<p>This is the content of Popup 3</p>
		<button class="button" onclick="hidePopup(3)">Close</button>
	</div>

	<div class="popup" id="popup4">
		<h2>Popup 4</h2>
		<p>This is the content of Popup 4</p>
		<button class="button" onclick="hidePopup(4)">Close</button>
	</div>

	<div class="popup" id="popup5">
		<h2>Popup 5</h2>
		<p>This is the content of Popup 5</p>
		<button class="button" onclick="hidePopup(5)">Close</button>
	</div>

      <div class="timeline">
          <h2>Timeline</h2>
          <p>Timeline A: Original timeline unaltered by Marty’s time travel experience in 1955. <br>Timeline B: New timeline altered by Marty’s time travel experience in 1955.</p>
          <table class="timeline">  
            <tr>
                <td>Date</td>
                <td>Description</td>
                <td>Timestamp</td>
            </tr>
            <tr>
                <td>Nov. 5th, 1955</td>
                <td>A<br>Brain-wave analyzer: Dr. Emmet Brown designs a mind reading machine helmet. The helmet projects the thoughts of a person attached by a suction cup cable to the wearer of the device.</td>
                <td>00:48:20</td>
            </tr>
            <tr>
                <td>Nov. 5th, 1955</td>
                <td>A<br>Flux Capacitor: Dr. Emmet Brown invents time travel by designing the flux capacitor. The invention allows for storage of high amounts energy, in the range of gigawatts. The capacitor stores energy produced by a plutonium nuclear reactor needed for the machine to travel time.</td>
                <td>00:51:05</td>
            </tr>
              <tr>
                <td>Oct. 22nd 1985</td>
                <td>A<br>Plutonium: Libyan nationalists steal new plutonium isotopes from the Pacific Nuclear Research Facility</td>
                <td>00:01:26</td>
            </tr>
            <tr>
                <td>Oct. 25th 1985</td>
                <td>A<br>Electric Amp: Marty McFly uses a wall-sized electrical guitar amp built by Dr. Brown to prepare for his audition.</td>
                <td>00:03:00</td>
            </tr>  
            <tr>
                <td>Oct. 25th, 1985</td>
                <td>A<br>Fake Nuclear Bomb: Dr. Emmet Brown designs a dummy atomic bomb for Libyan nationalists out of an old pinball machine. The terrorists activate the device only to find it as a dud.</td>
                <td>00:26:18</td>
            </tr>
            <tr>
                <td>Oct. 26th, 1985 1:20AM</td>
                <td>A<br>Time Circuit: The device in the time traveling Delorean used to select which time period to travel to. The device keeps track of the present time, the current time period the machine is in, and the time period the machine previously travelled to.</td>
                <td>00:24:17</td>
            </tr>
            <tr>
                <td>Oct. 26th, 1985 1:20AM</td>
                <td>A<br>Time Travelling Delorean MK. I: Dr. Emmet Brown successfully tests time travel technology using his invented flux capacitor powering a Delorean. His dog Einstein becomes the first time traveler.</td>
                <td>00:23:36</td>
            </tr>
            <tr>
                <td>Nov. 12th, 1955</td>
                <td>B<br>Lightning energy conversion circuit: Dr. Brown and Marty design an electrical circuit to intake a bolt of lightning and store the energy into the delorean. The circuit provides the power necessary to restart the time circuit in the machine.</td>
                <td>01:34:39</td>
            </tr>
            <tr>
                <td>Oct. 26th, 1985</td>
                <td>B<br>Dr. Emmet Brown showcases the Mark II version of his Delorean time travel machine. The machine has the ability to fly and convert any organic matter into flux energy to power the machine.</td>
                <td>01:50:30</td>
            </tr>
          </table>
      </div>
          <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
